<div class="results-container">
  <div class="status-container">
    <div class="status-description">
      <p>Máscara</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/required-mask.png"/>
          <p>Obrigatório</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/recommended-mask.png"/>
          <p>Recomendado</p>
        </div>
      </div>
    </div>

    <div class="status-description">
      <p>Toalha</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/required-towel.png"/>
          <p>Obrigatório</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/recommended-towel.png"/>
          <p>Recomendado</p>
        </div>
      </div>
    </div>

    <div class="status-description">
      <p>Bebedouro</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/partial-fountain.png"/>
          <p>Parcial</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/forbidden-fountain.png"/>
          <p>Proibido</p>
        </div>
      </div>
    </div>

    <div class="status-description">
      <p>Vestiários</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/required-lockerroom.png"/>
          <p>Liberado</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/partial-lockerroom.png"/>
          <p>Parcial</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/forbidden-lockerroom.png"/>
          <p>Proibido</p>
        </div>
      </div>
    </div>
  </div>
  <div class="academias-container">
    <div class="academia-card" *ngFor="let location of locations">
      <h3>{{ location.title }}</h3>
    </div>
  </div>
</div>
