<div class="results-container">
  <div class="status-container">
    <div class="status-description">
      <p>Máscara</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/required-mask.png"/>
          <p>Obrigatório</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/recommended-mask.png"/>
          <p>Recomendado</p>
        </div>
      </div>
    </div>

    <div class="status-description">
      <p>Toalha</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/required-towel.png"/>
          <p>Obrigatório</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/recommended-towel.png"/>
          <p>Recomendado</p>
        </div>
      </div>
    </div>

    <div class="status-description">
      <p>Bebedouro</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/partial-fountain.png"/>
          <p>Parcial</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/not_allowed-fountain.png"/>
          <p>Proibido</p>
        </div>
      </div>
    </div>

    <div class="status-description">
      <p>Vestiários</p>
      <div class="status">
        <div class="status-details">
          <img src="assets/images/png/allowed-lockerroom.png"/>
          <p>Liberado</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/partial-lockerroom.png"/>
          <p>Parcial</p>
        </div>
        <div class="status-details">
          <img src="assets/images/png/closed-lockerroom.png"/>
          <p>Proibido</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-list">
    <div class="card" *ngFor="let location of locations">
      <span [ngClass]="{'closed': !location.opened}">{{ location.opened ? 'Aberto' : 'Fechado' }}</span>
      <h3>{{ location.title }}</h3>
      <p [innerHTML]="location.content"></p>
      <div *ngIf="location.schedules" class="divider"></div>
      <div class="icons">
        <img *ngIf="location.mask" [src]="'/assets/images/png/' + location.mask + '-mask.png'"/>
        <img *ngIf="location.towel" [src]="'/assets/images/png/' + location.towel + '-towel.png'"/>
        <img  *ngIf="location.fountain" [src]="'/assets/images/png/' + location.fountain + '-fountain.png'"/>
        <img *ngIf="location.locker_room" [src]="'/assets/images/png/' + location.locker_room + '-lockerroom.png'"/>
      </div>
      <ul>
        <li *ngFor="let schedule of location.schedules">
          <p class="weekdays">{{ schedule.weekdays }}</p>
          <p class="hour">{{ schedule.hour }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
