@import 'src/assets/vars.scss';

.results-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  max-width: 70%;
  margin: 0 auto 1em;

  .status-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: .8em;
    border: 2px solid $suave-grey;
    background-color: $fundo-grey;

    .status-description {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .8em;

      > p {
        font-weight: bold;
      }

      .status {
        display: flex;
        gap: .8em;

        .status-details {
          display: flex;
          flex-direction: column;
          align-items: center;

          p {
            font-size: .8em;
          }

          img {
            width: 70px;
          }
        }
      }
    }
  }

  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: .9em;
    .card {
      display: flex;
      flex-direction: column;
      gap: .8em;
      border: 2px solid $suave-grey;
      background-color: $fundo-grey;
      height: 450px;
      width: 250px;
      padding: 8px;

      span {
        color: $green;
        font-weight: bold;
      }

      .closed {
        color: $red;
      }

      .divider {
        height: .8px;
        background-color: grey;
      }

      .icons {
        display: flex;
        flex-wrap: wrap;
        gap: .5em;
        justify-content: space-between;
        img {
          width: 50px;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        width: 100%;

        li {
          display: flex;
          flex-direction: column;

          .weekdays {
            font-size: 1em;
            font-weight: bold;
          }

          .hour {
            font-size: .9em;
          }
        }
      }

      @media (max-width: 450px) {
        width: 290px;
      }
    }
  }
}


