.container {
  width: 100%;
  padding: 50px 150px;
  display: flex;
  flex-direction: column;
  gap: 1em;

  .title {
    font-size: 2em;
    max-width: 250px;
  }

  p {
    text-align: justify;
  }
}
